.wrapper_cart{
    padding-top: 20px;
    display: flex;
}
.wrapper_cart .content_left {
    width: 65%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.wrapper_cart .content_left .header_cart{
    display: flex;
    justify-content: space-between;
}
.wrapper_cart .content_left .header_cart .title_cart span{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.wrapper_cart .content_left .header_cart .add_more a{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ff5b6a;
    text-decoration: none;
}
.wrapper_cart .content_left .cart_list{
    display: flex;
    flex-direction: column;
}
.wrapper_cart .content_left .cart_list .cart_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #FFEAE3;
}
.wrapper_cart .content_left .cart_list .cart_item .info_cart{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrapper_cart .content_left .cart_list .cart_item .info_cart .img{
    width: auto;
    height: auto;
    object-fit: cover;
}
.wrapper_cart .content_left .cart_list .cart_item .info_cart .info{
    font-family: 'Roboto',Arial ,sans-serif;
    font-size: 16px;
    font-weight: 500;
}