<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/accountStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/580f8cec38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <div th:insert="~{header :: header}"></div>
        </div>
        <div class="center">
            <div class="container">
                <div class="my_account">
                    <div class="my_account_left">
                        <div class="my_avatar">
                            <div class="first_name">S</div>
                            <div class="full_name">Shiiro</div>
                        </div>
                        <div class="account_menu">
                            <ul>
                                <li><a href="#" data-target="account_information"><i
                                            class='bx bx-user icon_size'></i>Account information</a></li>
                                <li><a href="#" data-target="social_network"><i
                                            class='bx bx-add-to-queue icon_size'></i>Social network accounts</a></li>
                                <li><a href="#" data-target="address"><i
                                            class='bx bx-location-plus icon_size'></i>Shipping Address</a></li>
                                <li><a href="#" data-target="order_history"><i
                                            class='bx bx-food-menu icon_size'></i>Order history</a></li>
                                <li><a href="#" data-target="my_coupons"><i class='bx bxs-discount icon_size'></i>My
                                        coupons</a></li>
                                <li><a href="#" data-target="my_menu"><i class='bx bx-heart icon_size'></i>My menu /
                                        wishlist</a></li>
                                <li><a href="#" data-target="feedback"><i class='bx bx-chat icon_size'></i>Feedback</a>
                                </li>
                                <li><a href="#" data-target="support"><i class='bx bx-chat icon_size'></i>Support</a>
                                </li>
                                <li><a href="#" data-target="sign_out"><i class='bx bx-power-off icon_size'></i>Sign
                                        out</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="my_account_right">
                        <div class="account_information" style="display: none;">
                            <div class="head_title">
                                Account information
                            </div>
                            <div class="account_info">
                                <form action="">
                                    <h5>User Information</h5>
                                    <div class="custom_user_information">
                                        <label for="full_name">Fullname </label>
                                        <input type="text" id="full_name" placeholder="Fullname"
                                            th:value="${accountEntity != null} ? ${accountEntity.fullName} : ''">
                                    </div>
                                    <div class="custom_user_information">
                                        <label for="birthday">Date of birth</label>
                                        <input type="date" id="birthday"
                                            th:value="${accountEntity != null} ? ${accountEntity.birthDate} : ''">
                                    </div>
                                    <div class="custom_user_information">
                                        <label for="phone_number">Phone number</label>
                                        <input type="text" placeholder="Phone number" id="phone_number" readonly
                                            th:value="${accountEntity != null} ? ${accountEntity.phone} : ''">
                                    </div>
                                    <div class="custom_user_information">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" placeholder="Email"
                                            th:value="${accountEntity != null} ? ${accountEntity.email} : ''">
                                    </div>
                                </form>
                                <div class="btn_group">
                                    <button type="button" class="btn_delete">Delete your account</button>
                                    <button type="button" id="saveProfileBtn" class="btn_save">Save information</button>
                                </div>
                            </div>
                        </div>
                        <div class="social_network" style="display: flex;">
                            <div class="head_title">
                                Social network accounts
                            </div>
                            <ul>
                                <li>
                                    <div class="custom_user_social">
                                        <img src="image/img/icon-fb.svg" alt="">
                                        <span>Connect your Facebook account</span>
                                    </div>
                                    <div class="btn_group_social">
                                        <button class="btn_connect">Connect</button>
                                        <button class="btn_detail_user_connect" disabled><i
                                                class='bx bx-chevron-right'></i></button>
                                    </div>
                                </li>
                                <li>
                                    <div class="custom_user_social">
                                        <img src="image/img/icon-google.svg" alt="">
                                        <span>Connect your Google account</span>
                                    </div>
                                    <div class="btn_group_social">
                                        <button class="btn_connect">Connect</button>
                                        <button class="btn_detail_user_connect">
                                            <i class='bx bx-chevron-right'></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="address" style="display: none;">
                            <div class="head_title">
                                Shipping Address
                                <button class="btn_add_address" id="openAddressDialogBtn" data-open-modal="location">
                                    + Add
                                </button>
                            </div>
                            <div class="wrapper_user_address">
                                <h5>Address</h5>
                                <div th:if="${addresses.empty}">
                                    <div class="address_empty">
                                        <img src="/image/img/order-empty.png" alt="">
                                        Bạn chưa có địa chỉ nào
                                    </div>
                                </div>
                                <div th:if="${!addresses.empty}">
                                    <div th:each="addr : ${addresses}" class="user_address"
                                        th:attr="data-address-id=${addr.id},data-is-default=${addr.isDefault}">
                                        <div class="contact_info">
                                            <div class="user">
                                                <div class="full_name"><span th:text="${addr.receiverName}"></span>
                                                </div>
                                                <div class="split"></div>
                                                <div class="phone"><span th:text="${addr.phone}"></span></div>
                                            </div>
                                            <div class="btn_group_address">
                                                <button class="btn_address_update" type="button"
                                                    th:attr="data-id=${addr.id}">
                                                    <i class="bx  bx-edit"></i>
                                                </button>
                                                <button class="btn_address_delete" type="button"
                                                    th:attr="data-id=${addr.id}" th:if="${!addr.isDefault}">
                                                    <i class="bx bx-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="address_info">
                                            <div class="details_address">
                                                <div class="specific_address"
                                                    th:text="${addr.street != null} ? ${addr.street} : 'Home'"></div>
                                                <div class="address" th:text="${addr.ward} + ', ' + ${addr.city}"></div>
                                            </div>
                                            <button class="default_setting" th:if="${!addr.isDefault}"
                                                th:attr="data-id=${addr.id}">Default setting</button>
                                            <div class="setting_info" th:if="${addr.isDefault}">
                                                <span>Default</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order_history" style="display: none;">
                            <div class="head_title">
                                Order history
                            </div>
                            <div class="tab_order">
                                <ul>
                                    <li><a href="#" class="txt">All</a></li>
                                    <li><a href="#" class="txt">Completed order</a></li>
                                    <li><a href="#" class="txt">Prepare dish</a></li>
                                    <li><a href="#" class="txt">Are delivery</a></li>
                                    <li><a href="#" class="txt">Ordered success</a></li>
                                    <li><a href="#" class="txt">Canceled</a></li>
                                </ul>
                            </div>
                            <div class="order_history_item">

                                <!-- Trạng thái rỗng: khi không có đơn hàng -->
                                <div class="order_history_empty" th:if="${orders == null or #lists.isEmpty(orders)}">
                                    <img src="@{/image/img/order-empty.png}" alt="order empty">
                                    <p>Bạn chưa có lịch sử đặt hàng nào</p>
                                </div>

                                <!-- Danh sách đơn hàng -->
                                <div class="order_history_list" th:if="${orders != null and !#lists.isEmpty(orders)}">

                                    <div th:each="order : ${orders}" class="order_item">
                                        <div class="order_info">

                                            <div class="order_info_child">
                                                <span class="order_id" th:text="${'#' + order.id}">#123456789</span>
                                                <span class="order_story" th:text="${order.status}">Canceled</span>
                                            </div>

                                            <div class="order_address order_info_child">
                                                <span>Ship to: </span>
                                                <!-- OrderEntity has no shippingAddress field. Show account name or fallback '-' -->
                                                <span th:text="${order.account != null ? order.account.fullName : '-'}">123 Main St, City, Country</span>

                                            </div>

                                            <div class="order_date order_info_child">
                                                <span
                                                    th:text="${order.createdAt != null ? #temporals.format(order.createdAt, 'dd/MM/yyyy') : ''}">
                                                    01/01/2024
                                                </span>
                                            </div>

                                            <div class="order_price order_info_child">
                                                <span
                                                    th:text="${order.total != null ? #numbers.formatDecimal(order.total, 0, 'POINT', 0, 'NONE') + ' ₫' : ''}">
                                                    150,000₫
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="order_history_item_detail">

                            </div>
                        </div>
                        <div class="my_coupons" style="display: none;">
                            <div class="head_title">
                                My coupons
                            </div>
                        </div>
                        <div class="my_menu" style="display: none;">
                            <div class="head_title">
                                my menu / wishlist
                            </div>
                            <div class="my_menu_content">
                                <div th:if="${accountEntity == null or accountEntity.favorites.empty}"
                                    class="wrapper_my_menu_card_empty">
                                    <div class="my_menu_empty">
                                        <img src="/image/img/order-empty.png" alt="">
                                        Bạn chưa có sản phẩm yêu thích nào
                                    </div>
                                </div>
                                <div th:if="${accountEntity != null and !accountEntity.favorites.empty}"
                                    class="wrapper_my_menu_card">
                                    <div th:each="product : ${accountEntity.favorites}" class="my_menu_card">
                                        <a th:href="@{/product_detail/{id}(id=${product.idProduct})}">
                                            <div class="my_menu_card_img">
                                                <img th:src="@{${product.imgPathProduct}}" alt="" />
                                            </div>
                                        </a>
                                        <div class="menu_title_heart">
                                            <div class="title" th:text="${product.nameProduct}"></div>
                                            <div class="heart">
                                                <i class='bx bxs-heart' style='color:#ef0a48'></i>
                                            </div>
                                        </div>
                                        <div class="menu_card_note">
                                            <span
                                                th:utext="${#strings.replace(product.noteProduct, '\n', '<br>')}"></span>
                                        </div>
                                        <div class="menu_card_price">
                                            <span
                                                th:text="${#numbers.formatDecimal(product.priceProduct, 0, 'POINT', 0, 'NONE')} + ' ₫'"></span>
                                        </div>
                                        <div class="menu_card_discount">
                                            <div class="menu_price_old" th:if="${product.priceOldProduct != null}">
                                                <i class='bx bxs-discount' style='color:#ff5b6a'></i>
                                                <span
                                                    th:text="${#numbers.formatDecimal(product.priceOldProduct, 0, 'POINT', 0, 'NONE')} + ' ₫'"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div th:insert="~{footer :: footer}"></div>
            </div>
        </div>
        <div th:insert="~{location}"></div>
        <div th:insert="~{dialog-noti}"></div>
        <div th:insert="~{login}"></div>
        <script src="/js/scripts.js"></script>
</body>

</html>