<div class="wrapper_cate_menu_card">
    <div th:each="product : ${products}" class="my_card card">
        <a th:href="@{/product_detail/{id}(id=${product.idProduct})}">
            <div class="card_img">
                <img th:src="@{${product.imgPathProduct}}" alt="Product Image">
            </div>
        </a>
        <div class="card_title_heart">
            <div class="card_title" th:text="${product.nameProduct}"></div>
            <div class="card_heart">
                <i th:if="${!favoriteIds.contains(product.idProduct)}" class='bx bx-heart'></i>
                <!-- Điều kiện hiện trái tim đầy màu nếu yêu thích -->
                <i th:if="${favoriteIds.contains(product.idProduct)}" class='bx bxs-heart' style='color:#ef0a48'></i>
            </div>
        </div>
        <div class="card_note">
            <span th:text="'01 ' + ${product.noteProduct}"></span>
        </div>
        <div class="card_bottom">
            <div class="card_price_add">
                <div class="card_price">
                    <span th:text="${product.priceProduct} + '₫'"></span>
                </div>
                <div class="card_add">
                    <div class="button_card_add">
                        <i class='bx bx-plus icon_size' style='color:#ffffff'></i>
                    </div>
                </div>
            </div>
            <div class="card_discount">
                <div class="price_old" th:if="${product.priceOldProduct != null}">
                    <i class='bx bxs-discount' style='color:#ef0b49'></i>
                    <span th:text="${product.priceOldProduct} + '₫'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
