<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/580f8cec38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="cart_page">
        <div class="header_empty">dger</div>
        <div class="header_cart" id="header_cart">
            <div class="container">
                <div class="content">
                    <div class="logo">
                        <a class="header_logo" title="Food" href="/">
                            <img src="/image/img/logo.png" alt="">
                        </a>
                    </div>
                    <div class="step_nav">
                        <ul class="stepper">
                            <li class="step active">
                                <span class="step_num"></span>
                                <span class="step_label">Giỏ hàng</span>
                            </li>
                            <li class="step">
                                <span class="step_num"></span>
                                <span class="step_label">Thanh toán</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w_cart_content">
            <div class="container">
                <div class="cart_content">
                    <div class="cart_list">
                        <div class="cart_list_top">
                            <div class="title">
                                <span class="text">Giỏ hàng của bạn</span>
                                <span class="cart_list_quantity">(0 Sản phẩm)</span>
                            </div>
                            <div class="btn_add_prd">
                                <a href="/product_list"><span class="btn_text">+ Thêm món ăn</span></a>
                            </div>
                        </div>
                        <div class="cart_list_note">
                            <span class="title">Ghi chú cho đơn hàng</span>
                            <input type="text" class="note_cart" placeholder="Ghi chú cho món ăn của bạn...">
                        </div>
                    </div>
                    <div class="cart_detail">
                        <div class="address">
                            <span class="txt">Giao hàng đến</span>
                            <div class="address_content">
                                <div class="address_inf">DA NANG DOWNTOWN, Đường 2 Tháng 9, Hòa Cường, Hòa Cường Bắc,
                                    Hải Châu, Đà Nẵng, Việt Nam</div>
                                <button class="btn_edit">
                                    <i class='bx  bx-edit'></i>
                                </button>
                            </div>
                            <div class="store_inf">
                                <span class="title">Cửa hàng: </span>
                                <span class="name">LOTTEMART DN</span>
                            </div>
                            <span class="address_noti">
                                Thời gian tiếp nhận đơn hàng trực tuyến từ 08:00 đến 21:30 hằng ngày
                            </span>
                        </div>
                        <div class="custom_extras">
                            <div class="option">
                                <span class="txt">Lấy dụng cụ ăn uống</span>
                                <div class="btn_toggle">
                                    <input type="checkbox" id="use_plastic" name="use_plastic">
                                    <label for="use_plastic" class="button"></label>
                                </div>
                            </div>
                            <div class="option">
                                <span class="txt">Lấy tương cà</span>
                                <div class="btn_toggle">
                                    <input type="checkbox" id="use_ketchup" name="use_ketchup">
                                    <label for="use_ketchup" class="button"></label>
                                </div>
                            </div>
                            <div class="option">
                                <span class="txt">Lấy tương ớt</span>
                                <div class="btn_toggle">
                                    <input type="checkbox" id="use_chilly_sauce" name="use_chilly_sauce">
                                    <label for="use_chilly_sauce" class="button"></label>
                                </div>
                            </div>
                        </div>
                        <div class="order">
                            <div class="sub_total">
                                <span class="txt">Tạm tính</span>
                                <span class="price">99.000 ₫</span>
                            </div>
                            <div class="total">
                                <span class="txt">Tổng cộng</span>
                                <span class="price">99.000 ₫</span>
                            </div>
                            <div class="btn_payment">
                                <a href="#" class="btn_payment_link">
                                    <span class="btn_text">Thanh toán</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" id="footer"></div>
    </div>
    <div th:insert="~{login}"></div>
    <script src="/js/scripts.js"></script>
    <script src="/js/cart.js"></script>
</body>

</html>