<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script>
    <script src="https://kit.fontawesome.com/580f8cec38.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product_list.css">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>

<body>
    <div th:fragment="header">
        <div class="container">
            <div class="top">
                <div class="left">
                    <a class="header_logo" title="Food" href="/">
                        <img src="/image/img/logo.png" alt="">
                    </a>
                    <nav class="top-nav">
                        <ul class="nav">
                            <li class="nav-item"><a class="nav-link" href="/product_list">BESTSELLER</a></li>
                            <li class="nav-item"><a class="nav-link" href="/product_list">ĐẶT HÀNG</a></li>
                            <li class="nav-item"><a class="nav-link" href="/product_list">KHUYẾN MÃI</a></li>
                            <li class="nav-item"><a class="nav-link" href="/product_list">CỬA HÀNG</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="right-content">
                    <div class="wrapper">
                        <div class="button btn_address" data-open-modal="location" id="openModalBtn">
                            <div class="icon"><i class='bx bx-location-plus'></i></div>
                        </div>
                        <div class="dropdown user-inf-dropdown" id="menu-user" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <div class="button">
                                <div class="icon"><i class='bx bx-user'></i></div>
                            </div>
                            <ul class="dropdown-menu" aria-labelledby="menu-user">
                                <li><a class="dropdown-item need-auth" href="/account#account_information"><i
                                            class='bx bxs-user'></i>Thông tin tài khoản</a></li>
                                <li><a class="dropdown-item need-auth" href="/account#address"><i
                                            class='bx bxs-location-plus'></i>Địa chỉ giao hàng</a></li>
                                <li><a class="dropdown-item need-auth" href="/account#order_history"><i
                                            class='bx bxs-food-menu'></i>Lịch sử đơn hàng</a></li>
                                <li><a class="dropdown-item need-auth" href="/account#my_menu"><i
                                            class='bx bxs-heart'></i>Thực đơn của tôi</a></li>
                                <li><a class="dropdown-item need-auth" href="/account#support"><i
                                            class='bx bxs-message-rounded'></i>Hỗ trợ</a></li>
                                <li><a class="dropdown-item" href="/logout"><i class='bx bx-power-off'></i>Đăng xuất</a>
                                </li>
                            </ul>
                        </div>
                        <div class="button btn_notification">
                            <div class="icon"><i class='bx bx-bell'></i></div>
                            <div class="notification_count" id="notificationCount" style="display:none">1</div>
                        </div>
                        <div class="button button_cart">
                            <a href="/cart" class="need-auth">
                                <div class="icon cart-btn"><i class='bx bx-shopping-bag'></i></div>
                            </a>
                            <div class="cart_count" id="cartCount">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- server-rendered auth flag so client JS can know auth state (jwt cookie is HttpOnly) -->
        <div id="auth" th:attr="data-authenticated=${username != null}" style="display:none"></div>
    </div>
</body>