<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/product_list.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="page">
        <div class="header">
            <div th:insert="~{header :: header}"></div>
        </div>
        <div class="center">
            <div class="main_slide">
                <div class="swiper swiper_main_slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/image/img/QC.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/image/img/QC_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/image/img/QC_4.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/image/img/QC_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item">
                                <img src="/image/img/QC_4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="container">
                <div class="btn-group-home">
                    <button type="button" class="btn btn-option">
                        <div class='bx-tada icon_size'><img src="/image/img/icon-7.svg" alt=""></div>
                        BESTSELLER
                    </button>
                    <button type="button" class="btn btn-option">
                        <div class='bx-tada icon_size'><img src="/image/img/icon-8.svg" alt=""></div>
                        ĐẶT HÀNG
                    </button>
                    <button type="button" class="btn btn-option">
                        <div class='bx-tada icon_size'> <img src="/image/img/icon-9.svg" alt=""></div>
                        KHUYẾN MÃI
                    </button>
                    <button type="button" class="btn btn-option">
                        <div class='bx-tada icon_size'><img src="/image/img/icon-10.svg" alt=""></div>
                        CỬA HÀNG
                    </button>
                </div>
            </div>
            <div class="container">
                <div class="main">
                    <div class="section_products">
                        <div class="section_head">
                            <span class="section_head_title">Ưu đãi đặc biệt </span>
                            <a class="section_head_view_all" href="#">Xem tất cả →</a>
                        </div>
                        <div class="my_products">
                            <div class="swiper swiper_products">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" th:each="product : ${bestsellerProducts}">
                                        <div class="my_card_home card">
                                            <a th:href="@{/product_detail/{id}(id=${product.idProduct})}">
                                                <div class="card_img">
                                                    <img th:src="@{${product.imgPathProduct}}"
                                                        th:alt="${product.nameProduct}" alt="">
                                                </div>
                                            </a>
                                            <div class="card_title_heart">
                                                <div class="card_title" th:text="${product.nameProduct}">
                                                </div>
                                                <div class="card_heart">
                                                    <i class="bx"
                                                        th:classappend="${favoriteIds.contains(product.idProduct)} ? ' bxs-heart' : ' bx-heart'"
                                                        th:attr="data-id=${product.idProduct}, data-favourite=${favoriteIds.contains(product.idProduct)}"
                                                        onclick="toggleFavourite(this)">
                                                    </i>
                                                </div>
                                            </div>
                                            <div class="card_note">
                                                <span th:if="${product.noteProduct != null}"
                                                    th:utext="${#strings.replace(product.noteProduct, '\n', '<br>')}"></span>
                                                <span th:if="${product.noteProduct == null}">Đang cập nhật
                                                    mô tả</span>
                                            </div>
                                            <div class="card_bottom">
                                                <div class="card_price_add">
                                                    <div class="card_price">
                                                        <span
                                                            th:text="${#numbers.formatDecimal(product.priceProduct, 0, 'POINT', 0, 'NONE')} + ' ₫'"></span>
                                                    </div>
                                                    <div class="card_add">
                                                        <div class="button_card_add"
                                                            th:attr="data-id=${product.idProduct}">
                                                            <i class='bx bx-plus icon_size' style='color:#ffffff'></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card_discount" th:if="${product.priceOldProduct != null}">
                                                    <div class="price_old">
                                                        <i class='bx bxs-discount' style='color:#ef0b49'></i>
                                                        <span
                                                            th:text="${#numbers.formatDecimal(product.priceOldProduct, 0, 'POINT', 0, 'NONE')} + ' ₫'"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide" th:if="${#lists.isEmpty(bestsellerProducts)}">
                                        <div class="my_card_home card empty_state">
                                            <div class="card_note">
                                                <span>Hiện chưa có sản phẩm BESTSELLER khả dụng.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination" style="bottom: -5px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="section_news">
                        <div class="section_head">
                            <span class="section_head_title">TIN TỨC</span>
                            <a class="section_head_view_all" href="#">Xem tất cả →</a>
                        </div>
                        <div class="my_news">
                            <div class="swiper swiper_news">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="news_card">
                                            <span class="news_img">
                                                <img src="/image/img/news_1.jpg" alt="">
                                            </span>
                                            <div class="news_inf">
                                                <span class="news_title">TẢI APP NHẬN QUÀ - ĂN NGON THẢ GA</span>
                                                <span class="news_time">30/09/2024</span>
                                                <span class="news_see_more">Xem thêm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="news_card">
                                            <span class="news_img">
                                                <img src="/image/img/news_1.jpg" alt="">
                                            </span>
                                            <div class="news_inf">
                                                <span class="news_title">TẢI APP NHẬN QUÀ - ĂN NGON THẢ GA</span>
                                                <span class="news_time">30/09/2024</span>
                                                <span class="news_see_more">Xem thêm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="news_card">
                                            <span class="news_img">
                                                <img src="/image/img/news_1.jpg" alt="">
                                            </span>
                                            <div class="news_inf">
                                                <span class="news_title">TẢI APP NHẬN QUÀ - ĂN NGON THẢ GA</span>
                                                <span class="news_time">30/09/2024</span>
                                                <span class="news_see_more">Xem thêm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="news_card">
                                            <span class="news_img">
                                                <img src="/image/img/news_1.jpg" alt="">
                                            </span>
                                            <div class="news_inf">
                                                <span class="news_title">TẢI APP NHẬN QUÀ - ĂN NGON THẢ GA</span>
                                                <span class="news_time">30/09/2024</span>
                                                <span class="news_see_more">Xem thêm</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="news_card">
                                            <span class="news_img">
                                                <img src="/image/img/news_1.jpg" alt="">
                                            </span>
                                            <div class="news_inf">
                                                <span class="news_title">TẢI APP NHẬN QUÀ - ĂN NGON THẢ GA</span>
                                                <span class="news_time">30/09/2024</span>
                                                <span class="news_see_more">Xem thêm</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination" style="bottom: -5px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div th:insert="~{footer :: footer}"></div>
        </div>
    </div>
    <div th:insert="~{location}"></div>
    <div th:insert="~{login}"></div>
    <div th:insert="~{register}"></div>
    <script src="/js/scripts.js"></script>
    <script src="/js/product.js"></script>
</body>

</html>