<div class="modal-address">
    <div id="modalOverlay" class="modal-overlay" style="display:none">
        <div class="modal" id="location" tabindex="-1">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="address_form">
                        <form id="addressForm" method="post">
                            <span>
                                Vui lòng nhập địa chỉ của bạn (địa chỉ này sẽ được dùng làm địa chỉ giao hàng).
                            </span>
                            <div class="home_address">
                                <label for="address">Địa chỉ (Số nhà, đường)</label>
                                <input type="text" id="address" placeholder="Vui lòng nhập" />
                            </div>

                            <div class="home_address">
                                <label for="phone_address">Số điện thoại người nhận</label>
                                <input type="text" id="phone_address" placeholder="Số điện thoại" />
                            </div>

                            <div class="location_selects">
                                <div class="province_select">
                                    <label for="provinceSelect">Tỉnh/Thành</label>
                                    <select id="provinceSelect">
                                        <option value="">-- Chọn tỉnh/thành --</option>
                                    </select>
                                </div>
                                <div class="ward_select">
                                    <label for="wardSelect">Quận/Huyện/Phường</label>
                                    <select id="wardSelect">
                                        <option value="">-- Chọn phường/xã --</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Hidden fields to be submitted with the address form -->
                            <input type="hidden" id="selectedProvinceName" name="province" />
                            <input type="hidden" id="selectedWardName" name="ward" />
                            <div class="home_address_detail">
                                <div class="address_detail">
                                    <div class="name_address">
                                        <label for="name_address">Tên địa chỉ</label>
                                        <input type="text" id="name_address" placeholder="Gym / Nhà riêng / cơ quan" />
                                    </div>
                                    <div class="note">
                                        <label for="note">Ghi chú</label>
                                        <input type="text" id="note" placeholder="Vui lòng nhập" />
                                    </div>
                                </div>
                                <div class="btn_toggle">
                                    <input type="checkbox" id="check" />
                                    <label for="check" class="button"></label>
                                    <span>Đặt làm địa chỉ mặc định</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-btn-group">
                    <button type="button" class="btn custom_btn_cancel" data-close-modal="location" id="cancelBtn">Hủy
                        bỏ</button>
                    <button type="button" class="btn custom_btn_submit" id="submitBtn" disabled>Thêm mới</button>
                </div>
            </div>
        </div>
        <script src="/js/vn-wards.js"></script>
        <script src="/js/dialog-noti.js"></script>
    </div>
</div>