<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/css/swiper.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script>
    <script src="https://kit.fontawesome.com/580f8cec38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="modalOverlay" class="modal-overlay">
        <div class="login_page">
            <div class="login" id="login" tabindex="-1">
                <div class="modal-content">
                    <button type="button" class="btn_close">
                        <span>x</span>
                    </button>
                    <div class="content">
                        <div class="left_content">
                            <form id="step1" class="step-form">
                                <span class="title">Đăng nhập hoặc tạo tài khoản</span>
                                <div class="login_info">
                                    <div class="w-username">
                                        <label for="username" class="label">Số điện thoại/Email</label>
                                        <input class="username form_input" id="username" type="text"
                                            placeholder="Nhập số điện thoại của bạn/Email" value="user1">
                                    </div>
                                </div>
                                <div class="form_footer">
                                    <button class="btn btn_continue" id="btn-step1" type="submit" title="Continue">Tiếp
                                        tục</button>
                                    <div class="btn_guest_group">
                                        <div class="w-btn_guest">
                                            <button class="btn btn_guest" title="Checkout as guest">Mua hàng không
                                                cần tài
                                                khoản</button>
                                            <i class='bx bx-info-circle'></i>
                                        </div>
                                        <div class="tooltip_text">
                                            Promotions and offers will not apply to purchases without an account.
                                        </div>
                                    </div>
                                </div>
                                <div class="form_other">
                                    <span class="txt">hoặc Đăng nhập bằng</span>
                                    <div class="btn_login_other">
                                        <a href="#" class="btn_login_fb">
                                            <img src="/image/img/icon-fb.svg" alt="">
                                            <span>FACEBOOK</span>
                                        </a>
                                        <a href="#" class="btn_login_gg">
                                            <img src="/image/img/icon-google.svg" alt="">
                                            <span>GOOGLE</span>
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <form id="step2" class="step-form" style="display:none;" method="post" action="/login">
                                <div class="btn_back">
                                    <i class='bx  bx-reply'></i>
                                    <span>Quay lại</span>
                                </div>
                                <span class="title">Nhập mật khẩu</span>
                                <div class="login_info">
                                    <div class="w-password">
                                        <input class="password form_input" id="password" type="password" name="password"
                                            placeholder="Vui lòng nhập mật khẩu" value="1">
                                    </div>
                                    <input type="hidden" id="username_hidden" name="username">
                                </div>
                                <div class="form_footer">
                                    <div class="btn_other">
                                        <a href="#" id="forgot-password">Quên mật khẩu?</a>
                                        <a href="#" id="login-sms">Đăng nhập bằng SMS</a>
                                    </div>
                                    <button class="btn btn_continue" id="btn_login" type="submit">Đăng nhập</button>
                                </div>
                                <div class="register">
                                    <span>Chưa có tài khoản? <a href="#">Tạo ngay</a></span>
                                </div>
                            </form>
                        </div>
                        <div class="right_content">
                            <img src="/image/img/login-banner.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/modal-dialog.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/header.js"></script>
</body>


</html>