<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/product_detailStyles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/580f8cec38.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div th:insert="~{header :: header}"></div>
    </div>
    <div class="center" id="center">
        <form action="">
            <div class="wrapper_product_cate_detail">
                <div class="container">
                    <div class="product_cate_detail">
                        <div class="btn_back">
                            <button type="button" title="Back">← Back</button>
                        </div>
                        <div class="content">
                            <div class="content_left">
                                <div class="img">
                                    <div class="icon_heart">
                                        <i class='bx bx-heart'></i>
                                    </div>
                                    <img th:src="@{${product.imgPathProduct}}" alt="">
                                    <div class="title" th:text="${product.nameProduct}"></div>
                                    <div class="price"
                                        th:text="|${#numbers.formatDecimal(product.priceProduct, 0, 'COMMA', 3, 'POINT')} ₫|">
                                    </div>
                                    <div class="price_old" th:if="${product.priceOldProduct != null}">
                                        <i class='bx bxs-discount'></i>
                                        <span
                                            th:text="|${#numbers.formatDecimal(product.priceOldProduct, 0, 'COMMA', 3, 'POINT')}₫|"></span>
                                    </div>
                                    <div class="note_discount" th:if="${product.priceOldProduct != null}">
                                        Bạn tiết kiệm được
                                        <span class="txt_note_discount"
                                            th:text="|${#numbers.formatDecimal(product.priceOldProduct - product.priceProduct, 0, 'COMMA', 3, 'POINT')} ₫|"></span>
                                        sau khi giảm giá.
                                    </div>
                                    <div class="note">
                                        <span th:utext="${#strings.replace(product.noteProduct, '\n', '<br>')}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="content_right">
                                <div class="options_product">
                                    <div th:each="type : ${filteredAddonTypes}">
                                        <div class="title" th:text="${type.name}"></div>
                                        <ul class="list_options">
                                            <li th:each="addon : ${productAddonsList}"
                                                th:if="${addon.type != null and addon.type.id == type.id}">
                                                <div class="option">
                                                    <img th:src="@{${addon.imgPath}}" alt="">
                                                    <span class="txt" th:text="${addon.name}"></span>
                                                </div>
                                                <div class="price">
                                                    <span class="txt_price"
                                                        th:text="|+${#numbers.formatDecimal(addon.price, 0, 'COMMA', 3, 'POINT')} ₫|"></span>
                                                    <div class="count">
                                                        <button type="button" class="btn_minus">-</button>
                                                        <span class="txt_count">0</span>
                                                        <button type="button" class="btn_plus">+</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="add_to_cart">
                                        <div class="quantity">
                                            <span class="txt">Quantity</span>
                                            <button type="button" class="btn_minus">-</button>
                                            <input class="txt_count" maxlength="2" value="1">
                                            <button type="button" class="btn_plus">+</button>
                                        </div>
                                        <button class="btn_add_to_cart" type="button">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div th:insert="~{footer :: footer}"></div>
    </div>
    <script src="scripts.js"></script>
</body>

</html>